﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/vladimir-golovaschenko">link</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/GKing17">link</a><br />
    <strong>Email:</strong> <a href="mailto:vladik123456022@gmail.com">link</a>
</address>