﻿@model IEnumerable<InternetAlbum.Models.ImageViewModel>

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th>
            "Action"
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.AlbumId)
    </td>
    <td>
        @Html.Raw("<img style='width:100px; height:100px;' src=\"data:image/jpeg;base64,"
                         + Convert.ToBase64String(item.Image) + "\" />")
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.UploadDate)
    </td>
    <td>
        <div class="btn">
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
        </div>
    </td>
    
</tr>
    }

</table>
