﻿@model IEnumerable<InternetAlbum.Models.ImageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message images</h2>
<div class="btn">
    @Html.ActionLink("Back to List", "Users")
</div>


<div class="album">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="img-container">
                @Html.Raw($"<img style='width:300px; height:300px;' value='{item.Id}' src=\"data:image/jpeg;base64,"
                                     + Convert.ToBase64String(item.Image) + "\" />")
                <div class="btn">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

