﻿@model IEnumerable<InternetAlbum.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink($"{item.AlbumId}", "PartialUserImages", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
        </tr>
    }

</table>
