﻿@model IEnumerable<InternetAlbum.Models.ImageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Your Images</h2>

@using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <center>
        <div class="form-group">
            <div class="editor-field">
                <input type="file" name="uploadImage"/>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </center>
    </div>
}

<div class="album">
    @foreach (var item in Model)
    {
    <div class="col-md-4">
        <div class="img-container">
            @Html.Raw($"<img style='width:300px; height:300px;' value='{item.Id}' src=\"data:image/jpeg;base64,"
                                 + Convert.ToBase64String(item.Image) + "\" />")
            <div class="btn">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>      
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
