﻿
@model IEnumerable<InternetAlbum.Models.ImageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Your Images</h2>
@using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <center>
            <div class="form-group">
                <div class="editor-field">
                    <input type='file' id='fileinput'>
                    <input type='button' id='btnLoad' value='Load' onclick='showFileSize();'>
                </div>
            </div>

        </center>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type='text/javascript'>
    function showFileSize() {
        var input, file, button;

        if (typeof window.FileReader !== 'function') {
            bodyAppend("p", "The file API isn't supported on this browser yet.");
            return;
        }

        input = document.getElementById('fileinput');
        if (!input) {
            bodyAppend("p", "Um, couldn't find the fileinput element.");
        }
        else if (!input.files) {
            bodyAppend("p", "This browser doesn't seem to support the `files` property of file inputs.");
        }
        else if (!input.files[0]) {
            bodyAppend("p", "Please select a file before clicking 'Load'");
        }
        else {
            file = input.files[0];
            button = document.getElementById('btnLoad');
            if (file.size > 5 * 1024 * 1024) {

                input.files[0] = null;

            }
            else {
                input.files[0] = null;
            }
            bodyAppend("p", "File " + file.name + " is " + file.size + " bytes in size");
            input.files[0] = null;
            
        }
    }

    function bodyAppend(tagName, innerHTML) {
        var elm;

        elm = document.createElement(tagName);
        elm.innerHTML = innerHTML;
        document.body.appendChild(elm);
    }
</script>
}
