﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="404-error-image">
    <center>
        <img src="~/Content/Images/CustomErrors/413_error.jpg" style="width:500px; height:500px" />
    </center>
</div>
